<form [formGroup]="categoryForm" (submit)="submitCategory()" class="categoryForm d-flex flex-column align-items-stretch gap-4">
    <div class="d-flex flex-column gap-1">
      <label htmlFor="name">{{'CategoryAdministration.CategoryNameLabel' | translate}}<span class="required-star">&nbsp;*</span></label>
      <input pInputText id="name" formControlName="name"/>
    </div>
    <div class="d-flex flex-column gap-1">
        <label htmlFor="type">{{'CategoryAdministration.CategoryTypeLabel' | translate}}<span class="required-star">&nbsp;*</span></label>
        <p-dropdown appendTo="body" [style]="{'width': '100%'}" id="type" formControlName="type" [options]="categoryTypes" optionLabel="name" optionValue="id"  >
          <ng-template let-option pTemplate="selectedItem">
            <div class="inline-block vertical-align-middle">
                <span class="vertical-align-middle">{{'CategoryAdministration.' + option.name | translate}}</span>
            </div>
        </ng-template>
        <ng-template let-option pTemplate="item">
            <div class="inline-block vertical-align-middle">
                <span class="vertical-align-middle">{{'CategoryAdministration.' + option.name | translate}}</span>
            </div>
        </ng-template>
        </p-dropdown>
    </div>
    <button pButton [style]="{'float': 'right'}" [label]="'Common.SubmitLabel' | translate" type="submit" class="justify-self-end" [disabled]="!categoryForm.valid" [loading]="loading"></button>
</form>
