@import "/src/variables";

.card {
  width: 100%;
  max-width: 25em;
}

.field:not(.error){
  visibility: hidden;
}

.error{
  color:$errorMessageColor;
}

form.edit-profile{
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px 0;
  min-width: 50vw;
}

.errors-container{
  height: 21px;
}
