<p-toast position="bottom-right" [key]="toastKey"></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<div class="row my-4">
    <div class="col">
        <p-table
            #itemsTable
            class="card"
            dataKey="id"
            [paginator]="totalRecords > pageSize"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            [(first)]="first"
            [value]="items"
            (onLazyLoad)="loadItems($event)"
            [lazy]="true"
            [loading]="loading"
            [globalFilterFields]="['name']"
            styleClass="p-datatable-sm"
            [showLoader]="false">
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">
                  <div class="d-flex justify-content-center">
                    <p class="text-center mb-0">{{ 'Common.TableEmpty' | translate }}</p>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="caption">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <button pButton [label]="'Common.ClearLabel' | translate" class="p-button-outlined" icon="pi pi-filter-slash" title="Clear all filters" (click)="clearFilters(itemsTable)"></button>
                    </div>
                    <div>
                        <button pButton class="d-block d-sm-none" (click)="showAddItem()" icon="pi pi-plus" [pTooltip]="'ProductAdministration.AddItemLabel' | translate"></button>
                        <button pButton class="d-none d-sm-block" (click)="showAddItem()" icon="pi pi-plus" [label]="'ProductAdministration.AddItemLabel' | translate"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name">{{'ProductAdministration.NameLabel' | translate}}<p-sortIcon field="name" ></p-sortIcon></th>
                    <th>{{'ProductAdministration.CategoryLabel' | translate}}</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="name" (input)="filterItems($event, itemsTable, 'name')" [matchModeOptions]="[]" [matchMode]="matchMode"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="categories" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value" appendTo="body" [options]="categories" optionLabel="name" [selectedItemsLabel]="'{0} ' + ('ProductAdministration.SelectCategoryLabel' | translate) " [maxSelectedLabels]="1" (onChange)="filter($event.value)">
                                    <ng-template let-option pTemplate="item">
                                        <div class="inline-block vertical-align-middle">
                                            <span class="vertical-align-middle">{{ option.name }}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category.name }}</td>
                    <td><button pButton class="p-button-sm p-button-outlined" type="button" (click)="showUpdateItem(item)" icon="pi pi-pencil" [pTooltip]="'Common.EditLabel' | translate" tooltipPosition="bottom"></button></td>
                    <td><button pButton class="p-button-sm p-button-outlined" type="button" (click)="showDeleteConfirm(item.id)" icon="pi pi-trash" [pTooltip]="'Common.EditLabel' | translate" tooltipPosition="bottom"></button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
                <tr>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                  <td><p-skeleton height="30px"></p-skeleton></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
