<p-toast position="bottom-right"></p-toast>
<form [formGroup]="myForm" class="card d-flex flex-column gap-3 align-items-stretch mx-auto mt-5 p-5" (submit)="submit()">
  <h2 class="text-center">Trouble logging in?</h2>
  <p class="text-center">Enter your email and we'll send you a link to get back into your account.</p>
  <div class="d-flex flex-column gap-1">
    <label for="password">Email</label>
    <input type="email" pInputText formControlName="email" id="password" [class.is-invalid]="!email.valid && email.touched" [class.ng-dirty]="!email.valid && email.touched">
    <div class="errors-container">
      <div [class.is-invalid]="!email.valid && email.dirty"></div>
      <div class="invalid-feedback" *ngIf="email.errors != null">
        <div *ngIf="email.errors['required']">Email is required</div>
        <div *ngIf="email.errors['pattern'] != undefined">Wrong format</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-end gap-3">
    <a routerLink="/"><button type="button" pButton class="p-button-secondary" label="Cancel"></button></a>
    <button pButton type="submit" label="Send link" [disabled]="!myForm.valid" [loading]="sending"></button>
  </div>
</form>
